@import "tailwindcss";
@theme {
  /* 設定主題色 */
  --color-primary: #f4ac45;
  --color-secondary: #001514;

  /* 設定字體 */
  --font-main: "Oswald", "Noto Sans TC", sans-serif;
}

/* 應用全域字體 */
:root {
  font-family: var(--font-main);
  font-size: large;
}
